<!-- MODAL PARA SELECCIONAR UN CLIENTE -->
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">

<div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <div class="container">
                <div class="row">
                    <div class="col-sm">
    
                        <ul *ngIf="cliente" class="list-group text-dark mb-3">
                            <li class="list-group-item active"><b>NOMBRE: </b>{{cliente.nombre}}</li>
                            <li class="list-group-item"><b>APELLIDO: </b>{{cliente.apellido}}</li>
                            <li class="list-group-item"><b>EMAIL: </b>{{cliente.email}}</li>
                            <li class="list-group-item"><b>FECHA CREACIÓN: </b>{{cliente.createAt | date:"fullDate"}}</li>
                            <li class="list-group-item"><b>REGIÓN: </b>{{cliente.region.nombre}}</li>
                        </ul>
    
                        <div class="input-group mb-3">
    
                            <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            
                            <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                          
                        </div>
    
                        <div *ngIf="progreso > 0" class="progress" style="height: 35px;" role="progressbar" aria-label="Default striped example" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped" [ngStyle]="{width:progreso+ '%'}">
                                {{progreso}}%
                            </div>
                        </div>
        
                        </div>
    
                    <div class="col-sm">
                        <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ###### -->